html{ margin:0 auto; }

body{
    font-family: tahoma, helvetica, sans-serif;
    margin:0 auto;
    padding:0;
    text-align: center;
}
.container{
    display: inline-block;
    width:972px;
    margin: 5px auto 5px auto;
    padding:0px;
    text-align: left; 
    padding-left: calc(100vw - 100%);  
}

.BlueBackground{
    background-color: #A1B8D8;
}

th{
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.TextLeft{
    text-align: left;
}

.TextCenter{
    text-align: center;
}

.TextRight{
    text-align: right;
}

.NumberActual{
    color:white;
    font-size: 12px;
    padding:2px;
    font-weight: bold;
}

.NumberPage{
    font-size:12px;
    padding:2px;
    font-weight: bold;
    color:blue;
}

.banner{
    width: 970px;
    height: 89px;
    background-image: url("http://roblogs.net/Roblogs_files/RoblogsBanner10.png");
}

.BannerContent{
    background:rgba(0, 0, 0, 0);
    border:#777;
    position: relative;
    top: 0px;
    width:220px;
    padding:3px;
}

.SessionBanner{
    margin:0;  
    padding:0 7px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size:12px;
    text-decoration: none;
}

.SessionBannerLoggedOut{
    margin:0;  
    padding:0 7px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size:12px;
    text-decoration: none;
}

.SessionBanner:hover{
    text-decoration: underline;
}

.header{
    white-space:nowrap;
    border-top:none;
    border:1px solid black;
}

.header img{
    white-space:nowrap;
}

.navbar{
    height:35px;
    background-color: #6e99c9;
    border-top:1px solid black;
    text-align: center;
    line-height: 1.6;
    margin:0;    
}

.navbar span{
    font-size:20px;
    color:white;
}

.NavbarNotification{
    background:#ffb3c0;;
    height:25px;
}

.NavbarNotification span{
    color:black;
    font-size:14px;
    font-weight: bold;
}

p{
    font-size:15px;
}

.h3{
    font-size:16px;
    font-weight: bold;
}

.header a img{
border:none;
outline:none;
}

.header span a{
    color:white;
    text-decoration:none;
}

.header span a:hover{
    text-decoration: underline;
}

.left{
    float:left;
}

.right{
    float:right;
}


.body{
    margin-top:10px;
}

.blue{
    background-color:#A1B8D8;
}

.greyborder{
    border:1px solid #949494;
}

.Explore{
    font-size:14px;
    color:black;
    text-decoration:none;
}

.Explore:hover{
    text-decoration:underline;
}

button{
    border:solid 1px #777;
    padding:4px;
    
}

button:hover{
    background-color: rgb(161, 184, 216);
    color:white;
}

.tip{
    color:grey;
    font-size:12px;
    width:270px;
}

.Error{
    font-size:13px;
    color:red;
    margin:0;
    padding:0;
}

    .footer {
        
    text-align: center; 
    padding: 3px; 
    color:black;
    
   }

   .footer p{
       text-align: center; 
       font-size: 13px; 
       color:black;
   }

   span a{
    color:black;
    text-decoration:none;
    }

    span a:hover{
        text-decoration: underline;;
    }

    .ErrorAlert{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(100, 100, 100, 0.25);
        display:block;
    }
    
    .ErrorWindow{
        background-color: #fff;
        text-align: center;
        width:500px;
        margin:0 auto;
        position: relative;
        top:30%;
        bottom:30%;
        border:1px solid black;
        padding:10px;
    }
    
    .ErrorWindow-Title{
        font-size:15px;
        font-weight: bold;
    }
    
    .ErrorWindow-context{
        font-size:13px;
    }
    
    .ErrorWindow button{
        background:none;
        width:50px;
    }
    
    .ErrorWindow button:hover{
        background:#A1B8D8;
    }

    .AccountBanBody{
        margin:30px auto;
        padding:20px;
        border:1px solid black;
        width:550px;
    }

    .AccountBanBody p{
        font-size:14px;
    }

    .AccountBanBody h3{
        font-size:25px;
        margin-top:5px;
    }

    .AccountBanBody button{
        margin:5px auto;
        display:block;
        width:55px;
        height:25px;

    }

    .AccountBanBody .BanReactivate{
        width:150px;
    }

    .AccountBanBody .ModeratorNote{
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .AccountBanBody .BanAgree{
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-bottom:5px;
    }


    .UserOnline, .UserOffline{
        font-family: Verdana;
        font-size: 12px;
        margin:0;
    }

    .UserOnline{
        color:green;
        font-weight:bold;
    }

    .UserOffline{
        color:Gray;
    }


    
